<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text = "title">Document</title>
</head>
<body>
    <h1 th:title ="${title}" th:text = "${title}"></h1>

    <div th:if = "${users.isEmpty()}" th:text = "${'No hay usuarios registrados'}"></div>

    <div class = "lista" th:if="${!(users.isEmpty())}">
        <ul>
            <!-- <li th:if = ${users} th:text = ${users}></li> -->
             <li th:each = "user: ${users}" th:text = "${'Nombre: ' + user.name + ' ' + user.lastname + ', ' + 'Correo: ' + user.email}" ></li>
        </ul>
    </div>

    <div class = "tabla" th:if = "${!(users.isEmpty())}">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastname}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>
</html> 